@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{font-family:Apple;src:url(lib/apple/AppleGulf-Medium.woff2) format("woff2"),url(lib/apple/AppleGulf-Medium.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:Apple-Medium;src:url(lib/apple/AppleGulf-Medium.woff2) format("woff2"),url(lib/apple/AppleGulf-Medium.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:Apple-Bold;src:url(lib/apple/AppleGulf-Bold.woff2) format("woff2"),url(lib/apple/AppleGulf-Bold.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}:root{--font-base:15px;--font-md:1.0666666667rem;--font-sm:0.9333333333rem;--font-xsm:0.8rem;--font-xxsm:0.6666666667rem;--font-lg:1.2rem;--font-xlg:1.3333333333rem;--font-xxlg:1.5333333333rem;--font-xxxlg:2.5333333333rem;--font-line-height:1.4}@media(max-width:767px){body.font-apple .qty--large input{line-height:40px}body.font-apple .qty--large button{line-height:44px}}body.font-apple .btn--add-to-cart{padding-top:7px;padding-bottom:4px}body.font-apple .product-block--inline .product-block__info .delete-entry .btn{padding-top:2px!important}
    
    *{
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
        /* -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none; */
        -webkit-user-drag: none;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth !important;
        --font-main: 'Apple';
    }

    html {
        font-family: 'Apple', sans-serif !important;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Apple', sans-serif !important;
    }
    
    p,label {
        font-family: 'Apple', sans-serif !important;
    }
    
    [x-cloak], [v-cloak] { 
        display: none !important;
    }

    .longpress {
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        -o-user-select: none !important;
        user-select: none !important;
        -webkit-user-drag: none !important;
        -webkit-overflow-scrolling: touch !important;
        scroll-behavior: smooth !important;
    }

    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
            scrollbar-width: thin;
            scrollbar-color: transparent transparent;
        }
    }

    #nprogress .spinner{
        display: none !important;
    }
    #nprogress .bar {
        background-color: #4F46E5 !important;
        height: 4px !important;
    }
    #nprogress .peg {
        box-shadow: 0 0 10px #423bca, 0 0 5px #423bca;
    }
}